<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailyappslab.fino"
    android:versionCode="2"
    android:versionName="1.01" >



    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />



    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>
    <meta-data android:name="email" android:value="you@email" />
    <meta-data android:name="trackingId" android:value="yourid" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <supports-screens>
        android:smallScreen=["true"]
        android:normalScreen=["true"]
        android:largeScreen=["true"]
        android:anyDensity=["true"]

    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.dailyappslab.fino.LoadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dailyappslab.fino.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dailyappslab.fino.WinActivity"
           />


        <activity
            android:name="com.dailyappslab.fino.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.dailyappslab.fino.MarketActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

    <uses-permission
        android:name="com.android.vending.BILLING"/>
</manifest>
